
.ipynb_checkpoints/readRunResults_testColors-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_withControl_plusHM-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_noControl_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_withControl_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_noControl_plusHM-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_sFW_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_basicControl_schoolOpenSept_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_Frag_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_NH_OP_BZ_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_NoAllFrag_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_NoAllFrag_openFacs_at20_openSchoolSep_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_NoAllFrag_openFacs_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/testHMlog-checkpoint.ipynb
