
.ipynb_checkpoints/testHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControl_schoolOpenSept_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeeds_noControl_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeeds_basicControl_schoolOpenSeptNewControlOctFac_plusHMlo-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeeds_basicControl_schoolOpenSeptNewControlOct_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeeds_basicControl_schoolOpenSept_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_withControl_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_withControl_plusHM-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_sFW_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_NoAllFrag_openFacs_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_NoAllFrag_openFacs_at20_openSchoolSep_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_NoAllFrag_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_NH_OP_BZ_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_with_Frag_at20_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_noControl_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_noControl_plusHM-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_basicControl_schoolOpenSeptNewControlOctFac_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_basicControl_schoolOpenSeptNewControlOct_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_basicControl_schoolOpenSept_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/newTool-checkpoint.ipynb
.ipynb_checkpoints/merge-checkpoint.ipynb
.ipynb_checkpoints/mdOutput-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeeds_basicControl_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControl_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeeds_basicControl_schoolOpenSeptStaticWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControl_schoolOpenSeptStaticWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControl_schoolOpenSeptFacFrControlOctChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControl_schoolOpenSeptNewControlOctChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/selction-checkpoint.ipynb
.ipynb_checkpoints/selectResults1kStableSeedsCPoints_basicControl_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_noControl_ChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptOctControlChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/selectResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/selectResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1kStableSeedsCPoints_noControlNStart_ChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/selectResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptOctControlChangingWorldNewStart_plusHMlog-Copy1-checkpoint.ipynb
.ipynb_checkpoints/selectResults1kStableSeedsCPoints_basicControlB_schoolOpenSeptOctControlChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults10kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults10kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults10kStableSeedsCPoints_basicControlB_schoolOpenSeptOctControlChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults10kStableSeedsCPoints_noControl_ChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults10kStableSeedsCPoints_noControlNStart_ChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/selectResults10kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorld_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/selectResults10kStableSeedsCPoints_basicControlB_schoolOpenSeptChangingWorldNewStart_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/selectResults10kStableSeedsCPoints_basicControlB_schoolOpenSeptOctControlChangingWorldNewStart_plusHMlog-checkpoint.ipynb
