
.ipynb_checkpoints/readRunResults_testColors-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_withControl_plusHM-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_noControl_plusHMlog-checkpoint.ipynb
.ipynb_checkpoints/readRunResults1k_withControl_plusHMlog-checkpoint.ipynb
